/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* main css */


*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.shell {
    margin: 0 auto;
    max-width: 1605px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.nav-bar {
    height: 50px;
    width: 100%;
    max-width: 1603px;
    position: fixed;
    border-bottom: 1px solid black;
    background-color: white; 
}

.nav-buttons li {
    float: left;
}

.utility-buttons li {
    float: right;
}

.logo-link {
    float: left;
    width: 185px;
    margin-left: 500px;
    padding-top: 15px;
}

.article-title {
    font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
    font-style: italic;
    font-size: 30px;
    line-height: 38px;
    font-weight: 700;
    padding: 20px 0;
    border-bottom: 1px solid black;
}

.container {
    height: 50px;
    padding-top: 18px;
}

.article-info p {
    display: inline-block;
    font-size: 12px;
    padding-right: 10px;
}

.comments-preview {
    width: 500px;
    height: 500px;
    float: right;
}

.article-text-para {
    margin: 20px 60px;
    font-size: 17px;
    font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
}

.main {
    padding-top: 50px;
    width: 1125px;
    margin: 0 auto;
}

.main-image-holder {
    background: url(https://static01.nyt.com/images/2014/03/18/science/space/18cosmos/18cosmos-superJumbo.jpg);
    background-size: 100%;
    height: 625px;
}