/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* main css */


*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

button {
    cursor: pointer;
    border: none;
    color: #000;
    background-color: #fff;
    padding: 0;
}

a {
    text-decoration: none;
    color: #326891;
}

strong {
    font-weight: bold
}

.shell {
    margin: 0 auto;
    max-width: 1605px;
    border-left: 1px solid #e2e2e2;;
    border-right: 1px solid #e2e2e2;;
    overflow-x: hidden;
}

.masthead {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.nav-bar {
    height: 50px;
    width: 100%;
    max-width: 1603px;
    border-bottom: 1px solid #e2e2e2;;
    background-color: white; 
}

.nav-buttons {
    padding-top: 10px;
}

.nav-buttons li {
    float: left;
}

#section-button {
    margin-left: -20px;
    border: 1px solid #e2e2e2;
}

.nav-buttons button {
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
    padding: 5px 15px;
    font-size: 10px;
    font-weight: 800;
    background-color: #fff;
    height: 28px;
}

.nav-buttons button:hover {
    background-color: #efeaea;
}

.icon {
    display: inline-block;
    width: 16px;
    height: 16px; 
    margin-right: 5px;
}

#burger-icon {
    background-image: url(https://a1.nyt.com/assets/article/20171004-122253/images/sprite/sprite-no-repeat.svg);
    background-repeat: no-repeat;
    background-position: -35px -243px;
}

#nyt-icon {
    background-image: url(https://a1.nyt.com/assets/article/20171004-122253/images/sprite/sprite-no-repeat.svg);
    background-repeat: no-repeat;
    background-position: -136px -276px;
}

#search-icon {
    background-image: url(https://a1.nyt.com/assets/article/20171004-122253/images/sprite/sprite-no-repeat.svg);
    background-repeat: no-repeat;
    background-position: -456px -210px;
}

.nav-button-text {
    display: inline-block;
    vertical-align: top;
}

.utility-buttons li {
    float: right;
    padding: 0 7px;
}

.utility-buttons {
    vertical-align: top;
}

.utility-buttons button {
    font-family: "nyt-franklin", sans-serif;
    padding: 9px 10px;
    font-size: 11px;
    font-weight: 700;
    color: white;
    border-radius: 3px;
    background-color: #326891;
    opacity: 0.7;
}

.utility-buttons button:hover {
    opacity: 1;
}

.utility-buttons li:first-child {
    padding-left: 0;
}

#settings-button {
    padding: 6px;
    background-color: #fff;
    height: 28px;
    width: 28px;
    margin-right: 25px;
}

#settings {
    background-image: url(https://a1.nyt.com/assets/article/20171004-122253/images/sprite/sprite-no-repeat.svg);
    background-repeat: no-repeat;
    background-position: -86px -243px;
}

#settings-button:hover {
    background-color: #efeaea;
}
.logo-link {
    float: left;
    width: 185px;
    margin-left: 25%;
}

.suggestions-bar {
    height: 85px;
    width: 100%;
    max-width: 1603px;
    border-bottom: 1px solid #e2e2e2;;
    overflow: hidden;
    background-color: #fff;
}

.story-links li {
    display: inline-block;
    width: 16.4%;
    border-right: 1px solid #e2e2e2;;
}

li:nth-child(6) {
    border-right: none;
    vertical-align: top;
}

.thumbnail {
    float: left;
    padding: 7px;
}

.thumbnail img {
    width: 65px;
}

.story-title {
    font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
    font-size: 13px;
    line-height: 1.25;
    padding: 15px 8px;
    color: #000;
    position: relative;
    overflow: hidden;
}

#trilobites {
    position: absolute;
    top: 8px;
    font-size: 10px;
}

.section-title {
    padding: 10px 0;
    font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
    font-size: 12px;
    font-weight: 700;
    border-top: 1px solid black;
}

.article-title {
    font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
    font-style: italic;
    font-size: 30px;
    line-height: 38px;
    font-weight: 700;
    padding: 20px 0;
    border-bottom: 1px solid #e2e2e2;
}

.container {
    height: 50px;
    padding-top: 18px;
    position: relative;
}

.article-info p {
    display: inline-block;
    font-size: 12px;
    padding-right: 10px;
}

.share-buttons {
    float: right;
    position: absolute;
    right: 0;
    top: 12px;
}

.sm-share li {
    float: left;
    margin: 0 5px;
}

.border-before {
    padding-left: 10px;
    border-left: 1px solid #e2e2e2;
}

.sm-share button {
    width: 25px;
    height: 25px;
}

.circle-button {
    border-radius: 100%;
    width: 25px;
    height: 25px;
}

#facebook {
    display: block;
    background-image: url(https://a1.nyt.com/assets/article/20171004-122253/images/sprite/sprite-no-repeat.svg);
    background-repeat: no-repeat;
    background-position: -66px -54px;
}

#twitter {
    display: block;
    background-image: url(https://a1.nyt.com/assets/article/20171004-122253/images/sprite/sprite-no-repeat.svg);
    background-repeat: no-repeat;
    background-position: -129px -297px;
}

#email {
    display: block;
    background-image: url(https://a1.nyt.com/assets/article/20171004-122253/images/sprite/sprite-no-repeat.svg);
    background-repeat: no-repeat;
    background-position: -152px -21px;
}

#showall {
    display: block;
    background-image: url(https://a1.nyt.com/assets/article/20171004-122253/images/sprite/sprite-no-repeat.svg);
    background-repeat: no-repeat;
    background-position: -346px -243px;
}

#save {
    display: block;
    background-image: url(https://a1.nyt.com/assets/article/20171004-122253/images/sprite/sprite-no-repeat.svg);
    background-repeat: no-repeat;
    background-position: -405px -210px;
    width: 16px;
    height: 25px;
    padding-left: 10px;
}

#comments-link {
    display: block;
    position: absolute;
    top: 0;
    border: 1px solid #333;
    width: 30px;
    height: 20px;
    border-radius: 3px;
    padding-top: 2px;
    font-size: 12px;
}

#speech-bubble-tail-back {
    display: block;
    position: absolute;
    top: 19px;
    right: 7px;
    width: 9px;
    height: 9px;
    border-left: 7px solid transparent;
    border-top: 8px solid #000;
}

#speech-bubble-tail {
    display: block;
    position: absolute;
    top: 19px;
    right: 8px;
    width: 7px;
    height: 9px;
    border-left: 7px solid transparent;
    border-top: 8px solid #fff;
}

.comments-preview {
    width: 360px;
    float: right;
    margin-top: 100px;
    padding: 15px;
    cursor: pointer;
}

.comment-head-container {
    position: relative;
}

#mini-comments-link {
    display: block;
    position: absolute;
    top: 0;
    border: 1px solid #326891;
    background-color: #326891;
    width: 20px;
    height: 12px;
    border-radius: 3px;
    padding-top: 2px;
}

#mini-speech-bubble-tail {
    display: block;
    position: absolute;
    top: 9px;
    left: 8px;
    width: 7px;
    height: 9px;
    border-left: 7px solid transparent;
    border-top: 8px solid #326891;
}

.speech-bubble-button {
    display: inline-block;
    width: 20px;
    height: 10px;
    padding-right: 25px;
}

.comments-header {
    display: inline-block;
    vertical-align: top;
    font-size: 11px;
    font-weight: 800;
    font-style: normal;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
    color: #326891;
    padding-bottom: 15px;
}

.comment-holder {
    margin-bottom: 20px;
}

.comment-info p {
    padding-right: 10px;
    display: inline-block;
}

.comment-text {
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
    margin-bottom: 0;
    color: #666;
}

.commenter {
    font-weight: 800;
    color: #000;
}

.comment-date {
    color: #ccc;
}

.see-all {
    font-size: 10px;
    font-weight: normal;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
    color: #326891;
}

.article-text-para {
    width: 590px;
    margin: 20px 70px;
    font-size: 17px;
    font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
    line-height: 1.25;
}

.article-text-para a {
    text-decoration: underline;
}

.main {
    padding-top: 148px;
    width: 1125px;
    margin: 0 auto;
}

.main-image-holder img{
    width: 100%;
}

.caption {
    padding-top: 5px;
    width: 54%;
    line-height: 1.5;
    font-family: "nyt-cheltenham-sh",georgia,"times new roman",times,serif;
    font-size: 14px;
    color: #666;
}

#credit {
    font-size: 11px;
    color: #999;
}

.insert-container {
    width: 945px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #999;
    padding: 15px 0;
}

.insert-header {
    font-size: 18px;
    font-weight: 700;
    font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
    margin-bottom: 3px;
    color: #333;
}

.insert-intro {
    
}

.illustrations {
    width: 100%;
}